*{
    margin: 0;
    padding: 0;
}

:root {
   --blanc:#FFFFFF;
   --negre:#000000;
   --blauclar:lightblue;
   --grisclar:#D3D3D3;
   --grisfosc:#A9A9A9;
}

body{
    font-family: sans-serif;
    background-color: #FDFDFD;
    margin-top: 5px;
}

header{
    display: flex;
    position: relative;
    justify-content: space-between;
    width: 100vw;
}

.logo{
    margin-left: 30px;
}

nav{
    width: 50vw;
    /*background-color: violet;*/
    top: 20px;
    right: 90px;
}

ul{
    display: flex;
   /* position: relative;*/
    flex-direction: row;
    justify-content:space-evenly;
    color: grey;
    font-size: 0.8rem;
}

*.account{
    color: black;
}

main{
    display: flex;
    position: relative;
    width: 100%;
    justify-content: space-between;
}

#sofa{
    width: 60%;
    height: 50%;
}

h1{
    font-size: 3rem;
    font-weight: 800;
}

.seed{
    width: 40%;
    height: 50%;
}

.bstart{
    width: 15vw;
    height: 40px;
    border-radius: 60px;
    background-color: var(--negre);
    color: var(--blanc);
}

.bplans{
    width: 10vw;
    height: 40px;
    border-radius: 20px;
    background-color: violet;
    color: white;
}

section{
    display: inline-flex;
    /*flex-direction: row;*/
    /*justify-content: space-evenly;*/
    overflow:hidden;
}

article{
    margin: 20px;
    display: inline-flex;
}

.Textimg{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 15px;
}