*{
    margin: 0;
    padding: 0;
    margin-top: 5px;
}
:root {
   --blanc:#FFFFFF;
   --negre:#000000;
   --blauclar:lightblue;
   --grisclar:#D3D3D3;
   --grisfosc:#A9A9A9;
}
body{
    font-family: sans-serif;
    background-color: #FDFDFD;
}

header{
    display: flex;
    position: relative;
    justify-content: space-between;
}
.logo{
    margin-left: 30px;
}
nav{
    width: 50vw;
    /*background-color: violet;*/
    margin-top: 20px;
    margin-right: 90px;
}

ul{
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content:space-evenly;
    color: grey;
    font-size: 0.8rem;
}
*.account{
    color: black;
}
main{
    display: flex;
    position: relative;
    margin: 0;
}
.start{
    width: 50vw;
    height: 40vw;
}
section{
    display: inline-flex;
    flex-direction: row;
    justify-content: space-evenly;
}
article{
    margin: 20px;
    display: inline-flex;
}
.Textimg{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 15px;
}